body {
    background-color: aliceblue;
}

/* Reparar el CSS de boostrap para que el contenido centrado no ocupe un 110% en width */
.row.justify-content-center {
    max-width: 100%;
}
/* Margen para que el contenido de la pagina no este pegado a la barra de navegacion*/
#navbar-header {
    margin-bottom: 10px;
}