body {
    background-color: aliceblue;
}

/* Reparar el CSS de boostrap para que el contenido centrado no ocupe un 110% en width */
/* Reparar el CSS de boostrap para que el contenido no quede pegado a la izquierda de la pantalla */
.row.justify-content-center {
    padding-left: 1%;
    max-width: 100%;
}
/* Margen para que el contenido de la pagina no este pegado a la barra de navegacion*/
#navbar-header {
    margin-bottom: 10px;
}

.warning-error {
    text-align: center;
}

.nav-link.active:hover{
    color: #0d6efd;
}

/* Reparaar el CSS de Bootstrap para que el footer no interfiera con otros elementos */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer {
    margin-top: auto;
  }

/* Reparar el CSS de boostrap para darle margen al contenedor */  
.container {
margin-bottom: 60px; 
}
