body {
    background-color: aliceblue;
}

/* Reparar el CSS de boostrap para que el contenido centrado no ocupe un 110% en width */
/* Reparar el CSS de boostrap para que el contenido no quede pegado a la izquierda de la pantalla */
.row.justify-content-center {
    padding-left: 1%;
    max-width: 100%;
}
/* Margen para que el contenido de la pagina no este pegado a la barra de navegacion*/
#navbar-header {
    margin-bottom: 10px;
}

.warning-error {
    text-align: center;
}

.nav-link.active:hover{
    color: #0d6efd;
}

/* Reparaar el CSS de Bootstrap para que el footer no interfiera con otros elementos */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer {
    margin-top: auto;
  }

/* Reparar el CSS de boostrap para darle margen al contenedor */  
.container {
margin-bottom: 60px; 
}

.card {
    max-width: 40%;
    margin: auto; 
  }

h2{
    font-family: icefont,Arial, Helvetica, sans-serif;
    color: rgb(75, 175, 255);
    text-shadow: 0 10px 10px rgb(75,175,255);
}

.card.full-width {
    max-width: 100%; 
    margin: 0;
}


#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 0 auto; /* Agrega esta línea para centrarlo horizontalmente */
}



input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #bfcdf4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: rgba(75,175,255);
    box-shadow: 0 0 15px rgba(75,175,255,1);
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}


#container-clima {
    text-align: center; 
}